BACKGROUND_JOBS_ENABLED=<BACKGROUND_JOBS_ENABLED>
DB_PATH=<DB_PATH>
PLEX_TOKEN=<PLEX_TOKEN>
PLEX_URL=<PLEX_URL>
STEAM_TOKEN=<STEAM_TOKEN>
TMDB_TOKEN=<TMDB_TOKEN>
TRAKT_BEARER_TOKEN=<TRAKT_BEARER_TOKEN>
TRAKT_CLIENT_ID=<TRAKT_CLIENT_ID>
