ANILIST_TOKEN=
BACKGROUND_JOBS_ENABLED=
DB_PATH=
PLEX_TOKEN=
PLEX_URL=
PUSHOVER_RECIPIENT=
PUSHOVER_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_DEVICE_ID=
SPOTIFY_USERNAME=
STEAM_TOKEN=
STORAGE_DIR=
TMDB_TOKEN=
TRAKT_BEARER_TOKEN=
TRAKT_CLIENT_ID=
